.heroDiv{
  width: 80%;
  margin: auto;
}
.logoDiv {
  display: block;
  margin: 4vh auto 0vh;
}
.logoImg {
  max-width: 100%;
  width: 100px;
}
.searchInpDiv {
  padding: 2vh 0px;
}
.searchInp {
  display: block;
  margin: auto;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #f2f4f8;
  border-radius: 3px;
}
.prevNextDiv {
  padding: 3vh 0px;
  text-align: center;
}
.paginationBtn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #f2f4f8;
  background-color: transparent;
  border-color: #f2f4f8;

  margin: 0px 10px;
}

.paginationBtn:hover {
  background: #f2f4f8;
  color: #444;
}

.container {
  width: 100%;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));
  grid-auto-rows: 50px;
  grid-auto-flow: dense;
  grid-gap: 5px;
}

.imgDiv {
  display: flex;
  height: 100%;
  width: 100%;
  // grid-column: auto / span 1;
  grid-row: span 4;
}

.searchInp:focus {
  outline: 0;
}

.container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
